openapi: 3.1.0
info:
  title: Figma Teams API
  version: 0.21.0
  description: |-

    Figma allows designers to create and prototype their digital experiences -
    together in real-time and in one place - helping them turn their ideas and
    visions into products, faster. Figma's mission is to make design
    accessible to everyone. The Figma API is one of the ways we aim to do
    that.
  termsOfService: https://www.figma.com/developer-terms/
  contact:
    email: support@figma.com
servers:
  - url: https://api.figma.com
paths:
  /v2/teams/{team_id}/webhooks:
    get:
      tags:
        - Teams
        - Webhooks
      summary: Get team webhooks
      security:
        - PersonalAccessToken: []
        - OAuth2:
            - files:read
      description: Returns all webhooks registered under the specified team.
      operationId: getTeamWebhooks
      parameters:
        - name: team_id
          in: path
          description: ID of team to get webhooks for
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetTeamWebhooksResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponseWithErrMessage'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponseWithErrMessage'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponseWithErrMessage'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponseWithErrMessage'
components:
  responses:
    GetTeamWebhooksResponse:
      description: Response from the GET /v2/teams/{team_id}/webhooks endpoint.
      content:
        application/json:
          schema:
            type: object
            properties:
              webhooks:
                type: array
                description: An array of webhooks.
                items:
                  $ref: '#/components/schemas/WebhookV2'
            required:
              - webhooks
    ForbiddenErrorResponseWithErrMessage:
      description: >-
        The request was valid, but the server is refusing action. The user might
        not have the necessary permissions for a resource, or may need an
        account of some sort.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponsePayloadWithErrMessage'
              - type: object
                properties:
                  status:
                    type: number
                    description: Status code
                    enum:
                      - 403
                required:
                  - status
    NotFoundErrorResponseWithErrMessage:
      description: The requested file or resource was not found.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponsePayloadWithErrMessage'
              - type: object
                properties:
                  status:
                    type: number
                    description: Status code
                    enum:
                      - 404
                required:
                  - status
    TooManyRequestsErrorResponseWithErrMessage:
      description: >-
        In some cases API requests may be throttled or rate limited. Please wait
        a while before attempting the request again (typically a minute).
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponsePayloadWithErrMessage'
              - type: object
                properties:
                  status:
                    type: number
                    description: Status code
                    enum:
                      - 429
                required:
                  - status
    InternalServerErrorResponseWithErrMessage:
      description: An internal server error occurred.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponsePayloadWithErrMessage'
              - type: object
                properties:
                  status:
                    type: number
                    description: Status code
                    enum:
                      - 500
                required:
                  - status
  schemas:
    WebhookV2:
      type: object
      description: A description of an HTTP webhook (from Figma back to your application)
      properties:
        id:
          type: string
          description: The ID of the webhook
        event_type:
          $ref: '#/components/schemas/WebhookV2Event'
          description: The event this webhook triggers on
        team_id:
          type: string
          description: The team id you are subscribed to for updates
        status:
          $ref: '#/components/schemas/WebhookV2Status'
          description: The current status of the webhook
        client_id:
          type:
            - string
            - 'null'
          description: >-
            The client ID of the OAuth application that registered this webhook,
            if any
        passcode:
          type: string
          description: The passcode that will be passed back to the webhook endpoint
        endpoint:
          type: string
          description: The endpoint that will be hit when the webhook is triggered
        description:
          type:
            - string
            - 'null'
          description: >-
            Optional user-provided description or name for the webhook. This is
            provided to help make maintaining a number of webhooks more
            convenient. Max length 140 characters.
      required:
        - id
        - event_type
        - team_id
        - status
        - client_id
        - passcode
        - endpoint
        - description
    ErrorResponsePayloadWithErrMessage:
      type: object
      description: A response indicating an error occurred.
      properties:
        status:
          type: number
          description: Status code
        err:
          type: string
          description: A string describing the error
      required:
        - status
        - err
